
 .maincontainer {
    display: flex;
     align-items : center;
     justify-content : center;  
     background-color: #111;
     min-height : 500px;
   }
     
   .container2 {
     position : relative;
     width : 1100px;
     display : flex;
     align-items : center;
     justify-content : center;
     flex-warp : warp;
     padding : 30px;  
   }
   
   .container2 .card2 {
     position: relative;
     max-width : 300px;
     height : 215px;  
    background: linear-gradient(-45deg,#f9ca24,#111,#222,#111);
     margin : 30px 10px;
     padding : 20px 15px;
     
     display : flex;
     flex-direction : column;
     box-shadow : 0 5px 20px rgba(0,0,0,0.5);
     transition : 0.3s ease-in-out;
     border-radius : 15px;
   }
   .container2 .card2:hover {
     height : 320px;    
   }
   
   
   .container2 .card2 .image {
     position : relative;
     width : 260px;
     height : 260px;
     
     top : -40%;
     left: 8px;
     box-shadow : 0 5px 20px rgba(0,0,0,0.2);
     z-index : 1;
   }
   .container2 .card2 .image .value
   {
    margin-top: -50px;
    font-size: 50px;
    margin-left: 180px;
      color: #f2b0bb;
   }
   
   .container2 .card2 .image img {
     max-width : 100%;
     border-radius : 15px;
   }
   
   .container2 .card2 .content2 {
     position : relative;
     font-size: 13px;
     top : -140px;
     padding : 10px 15px;
     color : #fff;
     text-align : center;
     visibility : hidden;
     opacity : 0;
     transition : 0.3s ease-in-out;
       
   }
   
   .container2 .card2:hover .content2 {
      margin-top : 30px;
      visibility : visible;
      opacity : 1;
      transition-delay: 0.2s;
     
   }